header#header {
    height: 320px;
    backdrop-filter: blur(15px);
}

div#banner {
    background: unset;
}

#wrap {
    height: unset;
    backdrop-filter: blur(15px);
    background: url('/images/index.jpg') fixed center #000;
}

time.dt-published {
    color: #000000;
    text-shadow: 0 1px #764aec;
}

.article-inner,
.archive-article-inner {
    background: #ffffffed;
    backdrop-filter: blur(5px);
}

@media (max-width: 600px) {
    header#header {
        height: 200px;
    }
}